<!DOCTYPE html>
<html lang="en">
  <head>
   <meta charset="utf-8">
   <title>Josh Leong</title>
   <meta name="description" content="">
   <meta name="author" content=""> 
   <meta property="fb:app_id"               content="316038078459483"> 
   <meta property="og:type"                 content="Website"> 
   <meta property="og:url"                  content="http://www.joshleong.com/"> 
   <meta property="og:image"                content="http://joshleongengine.appspot.com/res/img/imjosh.jpg">
   <meta property="og:title"                content="Josh Leong">
   <meta property="og:description"          content="Personal Site of Josh Leong"> 

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
    -->

    <link rel="stylesheet/less" type="text/css" href="/res/less/bootstrap.less">
    <script src="/res/js/less.js"></script>
    <link rel="shortcut icon" href="/res/img/favicon.ico">
  </head>

  <body>
      
    <div class="container">

      <div class="row">
        <div class="span16">
          <div class="sitenav">
            <ul>
              <li><a href="http://towertree.tumblr.com/" rel="tooltip" data-original-title="Blog" class="blog"></a></li>
              <li><a href="http://www.towersandtrees.com/" rel="tooltip" data-original-title="Towers &amp; Trees" class="home"></a></li>
              <li><a href="http://www.towersandtrees.com/work/" rel="tooltip" data-original-title="Portfolio" class="work"></a></li>
            </ul>
          </div>
          <div class="divider_line"></div><br/>
          <div class="leadingcopy">
          <img class="thumbnail" src="/res/img/imjosh.jpg" alt="">
          <h1>BUILD THE CHANGE YOU WANT TO SEE IN THE WORLD</h1>
            <div class='description'>
            <p>Hello there, I'm Josh Leong. I live San Francisco and I like to work on big ideas, sometimes as an UX consultant, a designer, or an engineer. I've been a Software Engineer at a few places and at Microsoft in the Azure team and also I worked as a Designer in Microsoft Office on Excel 15 and other things. Although i've been called an engineer and a designer, I much more identify with being an inventor, someone who stumbles upon, finds and hopefully shares ideas.</p>
            </div>
            <br/><br/>
          </div>
          <div class="divider_line"></div>
        </div>
      </div>

      <footer>
      </footer>

    </div> <!-- /container -->
    <script src="/res/js/jquery.js"></script>
    <script src="/res/js/bootstrap-tooltip.js"></script>
    <script src="/res/js/application.js"></script>
  </body>
</html>
